
.owl-carousel.single-slider.owl-theme .owl-controls .owl-page.active span, .owl-carousel.single-slider.owl-theme .owl-controls.clickable .owl-page:hover span {
	background: #FE8301 !important;
}

.owl-theme .owl-controls .owl-page span {
	background: #FE8301 !important;
}

@font-face {
    font-family: "Code";
    src: url("../fonts/CODE_Light.otf");
}

@font-face {
    font-family: "kenzo";
    src: url("../fonts/Kenzo Regular.otf");
}


@font-face {
    font-family: 'americana';
    src: url('../fonts/Americanatest.ttf');
    src: url('../fonts/americanatest-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.code-f {
	font-family: "kenzo";
	letter-spacing: 0.8px;
}

.font-code {
	font-family: 'americana';
}

article
{
    padding-bottom: 20px;
}
.article-caption
{
position: absolute;
bottom: 16px;
max-width: 90%;
text-align: center;
background-color: rgba(200,200,200,0.5);

}

.article-img
{
width: 100%; 
max-height: 400px;
object-fit: cover;
}


@media screen and (max-width: 768px) { 
.article-title
{
font-size: 28px;
}
}

@media screen and (max-width: 500px) { 
    .article-title
    {
    font-size: 20px;
    }
}

.article-caption a
{
color: white;
}

